#bubblesort table tr td div { border: 1px solid black; height: 17px; }
#bubblesort table tr td div.highlight1 { border: 3px solid yellow; }
#bubblesort table tr td div.highlight2 { border: 3px solid gold; }
.c1  { background-color: #005; }
.c2  { background-color: #006; }
.c3  { background-color: #007; }
.c4  { background-color: #008; }
.c5  { background-color: #009; }
.c6  { background-color: #00a; }
.c7  { background-color: #00b; }
.c8  { background-color: #00c; }
.c9  { background-color: #00d; }
.c10 { background-color: #00e; }
.c11 { background-color: #04f; }
.c12 { background-color: #05f; }
.c13 { background-color: #06f; }
.c14 { background-color: #07f; }
.c15 { background-color: #08f; }
.c16 { background-color: #09f; }
.c17 { background-color: #0af; }
.c18 { background-color: #0bf; }
.c19 { background-color: #0cf; }
.c20 { background-color: #0df; }
